
nav
{
    display: inline-block;

    width: 150px;

    vertical-align: top;

    border: 1px solid black;
}
section
{
    display: inline-block;

    vertical-align: top;

    border: 1px solid blue;
}
