/* Définition des ../fonts personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/ballpark.eot');
    src: url('../fonts/ballpark.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ballpark.woff') format('woff'),
    url('../fonts/ballpark.ttf') format('truetype'),
    url('../fonts/ballpark.svg#BallparkWeiner') format('svg');
}

@font-face
{
    font-family: 'Dayrom';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/dayrom.eot');
    src: url('../fonts/dayrom.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dayrom.woff') format('woff'),
    url('../fonts/dayrom.ttf') format('truetype'),
    url('../fonts/dayrom.svg#Dayrom') format('svg');
}

/* Eléments principaux de la page */

body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;

    color: #181818;
    background: url('../images/fond_jaune.png');
}

#bloc_page
{
    width: 80%;
    min-width: 550px;
    margin: auto;
}

section h1,
footer h1,
nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;

    text-transform: uppercase;
}

/* Header */

header
{
    display: flex;

    background: url('../images/separateur.png') repeat-x bottom;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;

    align-items: baseline;
}

#logo img
{
    width: 60px;
    height: 60px;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;

    margin: 0 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    font-weight: normal;

    margin-top: 0;
}

/* Navigation */

nav ul
{
    display: flex;

    margin-left: 0;

    list-style-type: none;
}

nav li
{
    margin-right: 10px;
}

nav a
{
    font-size: 1.3em;

    padding-bottom: 3px;

    text-decoration: none;

    color: #181818;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Bannière */

#banniere_image
{
    position: relative;

    width: 100%;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 25px;

    border-radius: 5px;
    background: url('../images/sanfrancisco.jpg') no-repeat;
    box-shadow: 0 4px 4px #1c1a19;
}

#banniere_description
{
    font-size: .8em;

    position: absolute;
    bottom: 0;

    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;

    color: white;
    border-radius: 0 0 5px 5px;
    background-color: rgba(24,24,24,.8);
}

.bouton_rouge
{
    font-size: 1.2em;

    position: absolute;
    right: 5px;
    bottom: 5px;

    height: 25px;
    padding: 3px 8px 0 8px;

    text-align: center;
    text-decoration: none;

    color: white;
    border: 1px solid #760001;
    border-radius: 5px;
    background: url('../images/fond_degraderouge.png') repeat-x;
}

.bouton_rouge img
{
    border: 0;
}

/* Corps */

section
{
    display: flex;

    margin-bottom: 20px;
}

article,
aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;

    flex: 3;
}

.ico_categorie
{
    margin-right: 8px;

    vertical-align: middle;
}

article p
{
    font-size: .8em;
}

aside
{
    font-size: .9em;

    position: relative;

    padding: 10px;

    color: white;
    border-radius: 5px;
    background-color: #706b64;
    box-shadow: 0 2px 5px #1c1a19;

    flex: 1.2;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_zozor
{
    text-align: center;
}

#photo_zozor img
{
    border: 1px solid #181818;
}

#reseaux-sociaux
{
    text-align: center;
}

aside img
{
    margin-right: 1px;
    margin-left: 1px;
}

/* Footer */

footer
{
    display: flex;

    padding-top: 25px;

    background: url('../images/ico_top.png') no-repeat top center, url('../images/separateur.png') repeat-x top, url('../images/ombre.png') repeat-x top;

    justify-content: space-between;
}

footer p,
footer ul
{
    font-size: .8em;
}

footer h1
{
    font-size: 1.1em;
}


#tweet
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

.mes-photos
{
    display: flex;

    flex-wrap: wrap;
}

.mes-photos img
{
    margin: 2px;
}

#mes_amis
{
    width: 35%;
}

#mes_photos img
{
    border: 1px solid #181818;
}

#listes_amis
{
    display: flex;

    margin-top: 0;

    flex-wrap: wrap;
    justify-content: space-between;
}

#mes_amis ul
{
    padding-left: 15px;

    list-style-image: url('../images/ico_liensexterne.png');
}

#mes_amis a
{
    text-decoration: none;

    color: #760001;
}
